{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>Formulário de Login</h1>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Entrar</button>
    </form>
    <div class="pt=2">
        <h4>Se você nunca fez login na plataforma por favor entre no link abaixo para criar suas credenciais:</h4>
        <a href="{{ url_for('pages.register') }}">Criar minhas credenciais</a>
    </div>
{% endblock %}
